.search-element {
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & form {
    height: 80%;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & input,
    button {
      height: 100%;
      border-radius: inherit;
      background-color: var(--color-5);

      &:focus {
        cursor: pointer;
        background-color: var(--color-5__focus);
        outline: 2px solid var(--color-1);
      }

      &:hover {
        background-color: var(--color-5__focus);
        outline: 2px solid var(--color-1);
      }
    }

    & input {
      width: 30rem;
    }

    & button {
      cursor: pointer;
    }
  }

  & .search-element__error {
    color: rgb(181, 41, 41);
    font-weight: bold;
    position: relative;
  }
}
